<div id="copyright" class="group">
    <div class="inner group">
        <div class="center">
            <p>
                Copyright <a href="http://demo.yithemes.com/memento"><strong>Mem[é]nto</strong></a> 2012 -
                Powered by <a href="http://yithemes.com" title="Free HTML Template"><strong>Your Inspiration Themes</strong></a><br>
                <a href="#" class="socials facebook" style="font-size:30px;" title="Facebook">F</a>
                <a href="#" class="socials twitter" style="font-size:30px;" original-title="Twitter">L</a>
                <a href="#" class="socials skype" style="font-size:30px;" original-title="Skype">H</a>
                <a href="#" class="socials google" style="font-size:30px;" original-title="Google">G</a>
                <a href="#" class="socials linkedin" style="font-size:30px;" original-title="Linkedin">I</a>
                <a href="#" class="socials rss" style="font-size:30px;" original-title="Rss">R</a>
            </p>
        </div>
    </div>
</div>
