
<div class="inner home-services home-section group">
    <h2>Our <span>services</span></h2>
    <div class="hentry-post group first">
        <div class="thumb-img"><a href="#"><img width="217" height="100" src="~/Asset/images/socialmarketing-217x100.jpg" class="attachment-thumb-home-section wp-post-image" alt="socialmarketing" title="socialmarketing" /></a></div>
        <h3><a href="#" title="Social Marketing" class="title">Social Marketing</a></h3>
        <p>Pellentesque tincidunt, sem in auctor fringilla, dui diam aliquam felis, nec rhoncus libero magna in nisi.</p>
        <p> <a href="#" class="more-link">// read more ></a></p>
    </div>
    <div class="hentry-post group">
        <div class="thumb-img"><a href="#"><img width="217" height="100" src="~/Asset/images/blogging-217x100.jpg" class="attachment-thumb-home-section wp-post-image" alt="blogging" title="blogging" /></a></div>
        <h3><a href="#" title="Professional Blogging" class="title">Professional Blogging</a></h3>
        <p>Pellentesque tincidunt, sem in auctor fringilla, dui diam aliquam felis, nec rhoncus libero magna in nisi.</p>
        <p> <a href="#" class="more-link">// read more ></a></p>
    </div>
    <div class="hentry-post group">
        <div class="thumb-img"><a href="#"><img width="217" height="100" src="~/Asset/images/webdevelopment-217x100.jpg" class="attachment-thumb-home-section wp-post-image" alt="webdevelopment" title="webdevelopment" /></a></div>
        <h3><a href="#" title="Web design &amp; development" class="title">Web design &#038; development</a></h3>
        <p>Pellentesque tincidunt, sem in auctor fringilla, dui diam aliquam felis, nec rhoncus libero magna in nisi.</p>
        <p> <a href="#" class="more-link">// read more ></a></p>
    </div>
    <div class="hentry-post group last">
        <div class="thumb-img"><a href="#"><img width="217" height="100" src="~/Asset/images/socialbusiness-217x100.jpg" class="attachment-thumb-home-section wp-post-image" alt="socialbusiness" title="socialbusiness" /></a></div>
        <h3><a href="#" title="Social Business" class="title">Social Business</a></h3>
        <p>Pellentesque tincidunt, sem in auctor fringilla, dui diam aliquam felis, nec rhoncus libero magna in nisi.</p>
        <p> <a href="#" class="more-link">// read more ></a></p>
    </div>
</div>

<div class="inner home-row group">
    <div class="widget-first widget one-third widget-icon-text group">
        <h2><img class="icon-img" src="~/Asset/images/smile.png" alt="" /> Meet Meménto</h2>
        <p>suitable for business/corporate sites,  creative portfolio and personal sites. </p>
    </div>
    <div class="widget one-third widget-icon-text group">
        <h2><i class="icon-envelope"></i> Contact the team!</h2>
        <p>Feel free to contact us for additional info or for a free quote!</p>
    </div>
    <div class="widget-last widget one-third widget-icon-text group">
        <h2><i class="icon-heart-empty reverse"></i> You will <span>love us</span>.</h2>
        <p>You have only to try Memènto. We are sure: you will love this theme.</p>
    </div>
</div>

<div class="clear"></div>