<div id="topbar" style="height:50px">
    <div class="inner group">

        <div class="topbar-left">
            <!-- START TWITTER -->
            <div id="twitter-slider" class="group">
                <div class="tweets-list"></div>
                <script type="text/javascript" src="~/Asset/Customer/js/twitter.js"></script>
            </div>
            <!-- END TWITTER -->
        </div>

        <div class="topbar-right">
            <ul class="topbar-level-1" style="width:50px">
                <li>
                    @Html.ActionLink("Log in", "Login", "Login")
            </ul>
        </div>

    </div>
</div>