
<div id="slider" class="ei-slider elastic">

    <div class="ei-slider-loading">Loading</div>
    <ul class="ei-slider-large">
        <li class="first slide-1 slide align- image-content-type">
            <img src="~/Asset/images/Restaurant-Bars-Food-ConnecXion-12.jpg" width="1920" height="400" alt="Love the sport" />
            <div class="ei-title">
                <h2 style="color: white">Love the sport</h2>
                <h3 style="color: white">..feel the music</h3>
            </div>
        </li>
        <li class="slide-2 slide align- image-content-type">
            <img src="~/Asset/images/RoomSuites-Deluxe-Twin-Room-1-1.jpg" width="1280" height="500" alt="Love the red fruit.." />
            <div class="ei-title">
                <h2>Love the red fruit..</h2>
                <h3>..fruit of passion</h3>
            </div>
        </li>
        <li class="last slide-3 slide align- image-content-type">
            <a href="http://www.google.it"><img src="~/Asset/images/cropped-0012.jpg" width="1000" height="338" alt="" /></a>
            <div class="ei-title">
                <h2><a href="http://www.google.it"></a></h2>
            </div>
        </li>
    </ul>

    <!-- ei-slider-large -->
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li><a href="#">Love the sport - ..feel the music</a><img src="~/Asset/images/sci1-150x59.jpg" alt="Love the sport - ..feel the music" /></li>
        <li><a href="#">Love the red fruit.. - ..fruit of passion</a><img src="~/Asset/images/red-passion-150x59.jpg" alt="Love the red fruit.. - ..fruit of passion" /></li>
        <li><a href="#"> - </a><img src="~/Asset/images/cropped-0012-150x59.jpg" alt=" - " /></li>
    </ul>
    <!-- ei-slider-thumbs -->
    <div class="shadow"></div>
</div>