
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="C:\Users\Administrator\Desktop\phiếu thuê\CSS\TabControl.css" rel="stylesheet">
    <link href="C:\Users\Administrator\Desktop\phiếu thuê\CSS\Collapse.css" rel="stylesheet">
</head>
<body>
    <div>
        <input type="text">
        <button onclick="myFunction()">TEXT</button>
    </div>
    <div data-role="page" id="pageone">
        <div data-role="main" class="ui-content">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Paris')">London</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Paris</button>
                <button class="tablinks" onclick="openCity(event, 'London')">Tokyo</button>
            </div>

            <!-- Tab content -->
            <div id="London" class="tabcontent">
                <h3>London</h3>
                <p>London is the capital city of England.</p>

            </div>

            <div id="Paris" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="tabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
            </div>
        </div>

</body>
<script src="C:\Users\Administrator\Desktop\phiếu thuê\JS\TabControl.js"></script>
<script src="C:\Users\Administrator\Desktop\phiếu thuê\JS\Collapse.js"></script>
<script src="C:\Users\Administrator\Desktop\phiếu thuê\JS\Collapse_Mobile.js"></script>
